<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398656662090-8nchbtnct148h7njb3quu0kv9dio8kfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398656662090-8nchbtnct148h7njb3quu0kv9dio8kfn</string>
	<key>API_KEY</key>
	<string>AIzaSyA14cNzZCZ7RoqOdnItWtQPbWiCIhN0-xE</string>
	<key>GCM_SENDER_ID</key>
	<string>398656662090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.verachuang.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>simplyshareapp-acdf3</string>
	<key>STORAGE_BUCKET</key>
	<string>simplyshareapp-acdf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398656662090:ios:8b1b5f35fc780808dd54b3</string>
	<key>DATABASE_URL</key>
	<string>https://simplyshareapp-acdf3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>